@model vidly.ViewModels.RandomMovieViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Customers</h2>

<table class="table table-bordered table-hover">
    <tr>
       <th>Customer</th>
    </tr>
    @foreach(var customer in Model.Customers)
    { 
    <tr>
        <td>@Html.ActionLink(@customer.Name, "Details", "Customers", new { id = customer.Id } , null)</td> 
    </tr> 
    }
</table>